{% load bootstrap4 %} {% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New Article</title>
        {{form.media}} {% block styles %} {% bootstrap_css %}
        {% endblock styles %}
    </head>
    <body>
        <form action="{% url 'new-article' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %} {% bootstrap_form form %}
            <input type="submit" class="btn btn-succes btn-lg" value="Post">
        </form>
        {% block scripts %} {% bootstrap_javascript jquery="full"%} {% endblock scripts %}
    </body>
</html>
